.form_inputs {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
  }

  label {
    color : blue;
    font-size: 18px;
    font-family: sans-serif;
  }

.containter_form_label {
    display: table-cell;
    vertical-align: middle;
    background-color: yellow;
}